<MudCard Outlined="true">
    @if (!string.IsNullOrWhiteSpace(DateTime))
    {
        <div class="card-header">
            @DateTime
        </div>
    }
    <MudCardContent>

        <MudImage Src="@WeatherIconImgSrc" Elevation="25" Class="rounded-lg" />
        <MudText>@WeatherDescription</MudText>
        <MudText Typo="Typo.body2">@Temperature °c</MudText>
        <MudText Typo="Typo.body2">Feels like @TemperatureFeelsLike °c</MudText>
        <MudText Typo="Typo.body2">Max @TemperatureMax °c Min @TemperatureMin °c</MudText>
        <MudText Typo="Typo.body2">@Humidity % humidity</MudText>
        <MudText Typo="Typo.body2">Wind @WindSpeed meter/sec</MudText>
    </MudCardContent>
</MudCard>   

@*   <div class="card-body">
    <p class="mb-0">
    <img src="@WeatherIconImgSrc" height="60" />
    @WeatherDescription
    </p>
    <p class="display-6">
    @Temperature °c
    </p>
    <p class="small">
    Feels like @TemperatureFeelsLike °c
    </p>
    <p class="small">
    Max @TemperatureMax °c Min @TemperatureMin °c
    </p>
    <p class="small">
    @Humidity % humidity
    </p>
    <p class="small">
    Wind @WindSpeed meter/sec
    </p>
    </div>*@

@code {
    [Parameter] public string? DateTime { get; set; }
    [Parameter] public string WeatherIconImgSrc { get; set; }
    [Parameter] public string WeatherDescription { get; set; }
    [Parameter] public double Temperature { get; set; }
    [Parameter] public double TemperatureFeelsLike { get; set; }
    [Parameter] public double TemperatureMax { get; set; }
    [Parameter] public double TemperatureMin { get; set; }
    [Parameter] public int Humidity { get; set; }
    [Parameter] public double WindSpeed { get; set; }
}