@inject Microsoft.Extensions.Localization.IStringLocalizer<Home> localizer


<MudText Align="Align.Center" Typo="Typo.h3" Color="Color.Warning">
    Swabbie <br /> @localizer["financeandhealth"].
</MudText>
<MudPaper Elevation="3" Class="my-5 py-5">
    <MudText Align="Align.Center">
        @localizer["comingsoon"].
    </MudText>
</MudPaper>
<p style="text-align:center;" >
    <MudImage Src="/assets/front-icon.png" Alt="Mony the dog" Elevation="25" Class="rounded-lg"/>
</p>
@code {
}