@inject IStringLocalizer<App> Localizer

<Carousel></Carousel>

<ForecastPage></ForecastPage>

<h2>@DateTime.Now.ToShortDateString()</h2>
<h2>@DateTime.Now.ToLongDateString()</h2>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<MudText Align="Align.Center" Typo="Typo.h3" Color="Color.Warning">
   mariegustafsson2012@gmail.com
</MudText>

@code {
}