@inject IStringLocalizer<App> Localizer

    @*<MudText Align="Align.Center" Typo="Typo.h1" Color="Color.Success">*@
    @*@Localizer["Love"]*@
@*</MudText>*@

<div id="ww_a7bef657ce7" v='1.20' loc='id' a='{"t":"responsive","lang":"en","ids":[],"cl_bkg":"image","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722","sl_tof":"7","sl_sot":"fahrenheit","sl_ics":"one_a","font":"Arial"}'>Weather Data Source: 
    <a href="https://sharpweather.com/es/tiempo_los_ángeles/hoy/" id="ww_a7bef657ce7_u" target="_blank">Los Ángeles pronóstico del tiempo para hoy</a></div>


<Carousel></Carousel>

<ForecastPage></ForecastPage>

<h2>@DateTime.Now.ToShortDateString()</h2>
<h2>@DateTime.Now.ToLongDateString()</h2>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<MudText Align="Align.Center" Typo="Typo.h3" Color="Color.Warning">
   mariegustafsson2012@gmail.com
</MudText>

@code {
}